* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.card-todo{
    width:500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-add{
    width: 100%;
    padding: 10px;
}

.card-add input{
    width: 90%;
}

.card-add button{
    width: 10%;
}